canvas {
    position: fixed; 
    z-index: 2;
    height: 400px; 
    width: 700px;
    display: block;
    margin: auto; 
}

#background {
    height: 400px;
    width: 700px;
    display: block;
    position: fixed;
}

img {
    display: none;
}