canvas {
    position: fixed;
    z-index: 2;
    display: block;
    height: 90%;
    image-rendering: pixelated;
}



img {
    display: none;
}

#Controls {
    height: 200px;
    width: 400px;
    float: right;
}